.todo {
  padding-bottom: 6rem;

  &__header {
    height: 310px;
    background-repeat: no-repeat;
    background-image: url("../images/bg-desktop-light.jpg");
    background-size: cover;
    background-position: center center;
  }

  &__info {
    height: auto !important;
    padding-top: 9.8rem;
    @include flex-box(space-between, center);
  }

  &__info-heading {
    color: getColor("grey-light-100");
    font-weight: 700;
    letter-spacing: 10px;
  }

  &__info-icon--light {
    display: none;
  }

  &__main {
    margin-top: -50px;
    border-radius: 6px;
    background: getColor("light");
    box-shadow: rgba(215, 215, 219, 0.604) 1px 8px 10px 0px,
      rgba(215, 215, 219, 0.604) 2px 5px 7px 0px,
      rgba(215, 215, 219, 0.604) 1px 7px 4px 0px;
  }

  &__footer {
    margin-top: 8rem;
  }

  &__footer-text {
    text-align: center;
    color: rgba(getColor("accent-100"), 0.8);
  }

  &__empty-box {
    min-height: 140px;
    border-bottom: 1px solid getColor("grey-light-200");
    @include flex-box(center, center);
  }

  &__empty-text {
    color: getColor("accent-300");
  }
}

// THEMING BELOW
@include theme(dark) {
  .todo {
    &__header {
      background-image: url("../images/bg-desktop-dark.jpg");
    }

    &__main {
      background: getColor("accent-600");
      box-shadow: getColor("grey-dark-200") 1px 8px 10px 0px;
    }

    &__info-icon--light {
      display: block;
    }

    &__info-icon--dark {
      display: none;
    }

    &__empty-box {
      border-color: getColor("accent-400");
    }

    &__footer-text,
    &__empty-text {
      text-align: center;
      color: getColor("grey-light-300");
    }
  }
}
