.todo-list-box {
  &__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
    line-height: 22px;
    overflow: hidden;
  }

  &__text-checked {
    text-decoration: line-through;
    opacity: 0.6;
  }

  &__delete-icon {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &:hover &__delete-icon {
    opacity: 1;
  }
}

// Theming Below
@include theme(dark) {
  .todo-list-box {
    &__text-checked {
      opacity: 0.7;
    }

    &__delete-icon > path {
      fill: getColor("grey-light-300");
    }
  }
}
