.todo-box-wrapper {
  height: auto !important;
  background-color: getColor("grey-light-100");
  color: getColor("grey-dark-100");

  &--rounded-all {
    border-radius: 6px;
  }

  &--rounded-top {
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid getColor("grey-light-200");
  }

  &--rounded-bottom {
    border-radius: 0px 0px 6px 6px;
  }

  &--draggable {
    cursor: move;
    user-select: none;
  }

  &--dragging {
    background-color: getColor("accent-600");
    color: getColor("grey-light-300");
  }
}

// Theming Below
@include theme(dark) {
  .todo-box-wrapper {
    background-color: getColor("accent-600");
    color: getColor("grey-light-300");

    &--rounded-top {
      border-color: getColor("accent-400");
    }

    &--dragging {
      background-color: getColor("light");
      color: getColor("grey-dark-100");
    }
  }
}
