// COLOR
@each $name, $value in $colors {
  .is-text-#{$name} {
    color: $value !important;
  }
}

// BACKGROUND
@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value !important;
  }
}

// WEIGHT
@each $name, $value in $weights {
  .is-text-#{$name} {
    font-weight: $value !important;
  }
}

// TEXT ALIGNMENT
.is-text-center {
  text-align: center !important;
}

.is-text-right {
  text-align: right !important;
}

// HIDE
.d-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

// SHOW
.d-block {
  display: block !important;
}

.visibility-visible {
  visibility: visible !important;
}

// TEXT TRANSFORMER
.is-upper {
  text-transform: uppercase !important;
}

.is-lower {
  text-transform: lowercase !important;
}

.is-capitalize {
  text-transform: capitalize !important;
}

.is-text-italic {
  font-style: italic !important;
}

// LAYOUT
.container {
  max-width: 590px;
  height: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;

  @include respond(phone) {
    max-width: 96%;
  }
}

// CURSOR
.is-cursor-pointer {
  cursor: pointer;
}

.is-cursor-default {
  cursor: default;
}
