$colors: (
  "primary-color": hsl(220, 98%, 61%),
  "secondary-color": hsl(192, 100%, 67%),
  "tertiary-color": hsl(280, 87%, 65%),
  "grey-light-100": hsl(0, 0%, 98%),
  "grey-light-200": hsl(236, 33%, 92%),
  "grey-light-300": hsl(233, 11%, 84%),
  "grey-light-400": hsl(234, 39%, 85%),
  "grey-dark-100": hsl(0, 0%, 26%),
  "grey-dark-200": hsl(235, 21%, 11%),
  "accent-100": hsl(237, 9%, 61%),
  "accent-200": hsl(234, 11%, 52%),
  "accent-300": hsl(235, 19%, 35%),
  "accent-400": hsl(233, 14%, 35%),
  "accent-500": hsl(237, 14%, 26%),
  "accent-600": hsl(235, 24%, 19%),
  "light": hsl(0, 0%, 100%),
  "dark": hsl(0, 0%, 0%),
);

$weights: (
  "thin": 300,
  "default": 400,
  "thick": 500,
  "extra-thick": 600,
  "bold": 700,
  "extra-bold": 800,
  "bolder": 900,
);

$font-sizes: (
  "extra-small": 1.3rem,
  "small": 1.4rem,
  "medium": 1.6rem,
  "extra-medium": 1.8rem,
  "large": 2.2rem,
  "extra-large": 2.4rem,
);

$font-family: (
  "font-family-normal": (
    "Josefin Sans",
    sans-serif,
  ),
);

$base-fonts: (
  "font-size": 1.8rem,
  "font-family":
    map-get(
      $map: $font-family,
      $key: font-family-normal,
    ),
  "line-height": 100%,
  "font-weight": 400,
  "color":
    map-get(
      $map: $colors,
      $key: dark,
    ),
);
