@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/*
Page Configured for Desktop First Design

General Breakpoint:
0-600px:    Phone
600-900px:  Tab-port
900-1200px: Tab-land
1800px +: Big-desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em => 16px
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: black;
  min-height: 100vh; }

[data-theme="dark"] body {
  background: #161722; }

.is-text-primary-color {
  color: #3a7bfd !important; }

.is-text-secondary-color {
  color: #57ddff !important; }

.is-text-tertiary-color {
  color: #c058f3 !important; }

.is-text-grey-light-100 {
  color: #fafafa !important; }

.is-text-grey-light-200 {
  color: #e4e5f1 !important; }

.is-text-grey-light-300 {
  color: #d2d3db !important; }

.is-text-grey-light-400 {
  color: #cacde8 !important; }

.is-text-grey-dark-100 {
  color: #424242 !important; }

.is-text-grey-dark-200 {
  color: #161722 !important; }

.is-text-accent-100 {
  color: #9393a5 !important; }

.is-text-accent-200 {
  color: #777a92 !important; }

.is-text-accent-300 {
  color: #484b6a !important; }

.is-text-accent-400 {
  color: #4d5066 !important; }

.is-text-accent-500 {
  color: #393a4c !important; }

.is-text-accent-600 {
  color: #25273c !important; }

.is-text-light {
  color: white !important; }

.is-text-dark {
  color: black !important; }

.bg-primary-color {
  background-color: #3a7bfd !important; }

.bg-secondary-color {
  background-color: #57ddff !important; }

.bg-tertiary-color {
  background-color: #c058f3 !important; }

.bg-grey-light-100 {
  background-color: #fafafa !important; }

.bg-grey-light-200 {
  background-color: #e4e5f1 !important; }

.bg-grey-light-300 {
  background-color: #d2d3db !important; }

.bg-grey-light-400 {
  background-color: #cacde8 !important; }

.bg-grey-dark-100 {
  background-color: #424242 !important; }

.bg-grey-dark-200 {
  background-color: #161722 !important; }

.bg-accent-100 {
  background-color: #9393a5 !important; }

.bg-accent-200 {
  background-color: #777a92 !important; }

.bg-accent-300 {
  background-color: #484b6a !important; }

.bg-accent-400 {
  background-color: #4d5066 !important; }

.bg-accent-500 {
  background-color: #393a4c !important; }

.bg-accent-600 {
  background-color: #25273c !important; }

.bg-light {
  background-color: white !important; }

.bg-dark {
  background-color: black !important; }

.is-text-thin {
  font-weight: 300 !important; }

.is-text-default {
  font-weight: 400 !important; }

.is-text-thick {
  font-weight: 500 !important; }

.is-text-extra-thick {
  font-weight: 600 !important; }

.is-text-bold {
  font-weight: 700 !important; }

.is-text-extra-bold {
  font-weight: 800 !important; }

.is-text-bolder {
  font-weight: 900 !important; }

.is-text-center {
  text-align: center !important; }

.is-text-right {
  text-align: right !important; }

.d-none {
  display: none !important; }

.visibility-hidden {
  visibility: hidden !important; }

.d-block {
  display: block !important; }

.visibility-visible {
  visibility: visible !important; }

.is-upper {
  text-transform: uppercase !important; }

.is-lower {
  text-transform: lowercase !important; }

.is-capitalize {
  text-transform: capitalize !important; }

.is-text-italic {
  font-style: italic !important; }

.container {
  max-width: 590px;
  height: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 96%; } }

.is-cursor-pointer {
  cursor: pointer; }

.is-cursor-default {
  cursor: default; }

.todo-box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer; }
  .todo-box__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.8rem 2rem; }
  .todo-box__checkbox-icon {
    opacity: 0;
    display: block;
    transition: opacity 0.4s ease-in-out; }
  .todo-box__checkbox-label {
    width: 24px;
    height: 24px;
    position: relative;
    background-color: #d2d3db;
    border-radius: 9999px;
    cursor: pointer; }
    .todo-box__checkbox-label:hover {
      background-image: linear-gradient(to bottom right, rgba(87, 221, 255, 0.9) 20%, rgba(192, 88, 243, 0.9)); }
  .todo-box__checkbox-background-cover {
    width: 94%;
    height: 94%;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white; }
  .todo-box__checkbox-control:checked + .todo-box__checkbox-label .todo-box__checkbox-icon {
    opacity: 1; }
  .todo-box__checkbox-control:checked + .todo-box__checkbox-label .todo-box__checkbox-background-cover {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(87, 221, 255, 0.9) 20%, rgba(192, 88, 243, 0.9)); }
  .todo-box__middle {
    flex-grow: 8;
    padding-right: 2rem;
    overflow: hidden; }
  .todo-box__middle--center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .todo-box__right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 2rem; }

[data-theme="dark"] .todo-box__checkbox-label {
  background-color: #cacde8; }

[data-theme="dark"] .todo-box__checkbox-background-cover {
  background-color: #25273c; }

.add-todo-box {
  margin-top: 5rem; }
  .add-todo-box__checkbox-label:hover .add-todo-box__checkbox-background-cover {
    background-image: linear-gradient(to bottom right, rgba(87, 221, 255, 0.9) 20%, rgba(192, 88, 243, 0.9)); }
  .add-todo-box__form {
    width: 100%;
    height: 100%; }
  .add-todo-box__control {
    height: 100%;
    width: 100%;
    display: block;
    color: #484b6a;
    font-family: inherit;
    font-size: 1.8rem;
    border: none; }
    .add-todo-box__control:focus {
      outline: none; }
    .add-todo-box__control::placeholder {
      font-size: 1.6rem; }

[data-theme="dark"] .add-todo-box__control {
  background: #25273c;
  color: #d2d3db; }

.todo-list-box__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
  line-height: 22px;
  overflow: hidden; }

.todo-list-box__text-checked {
  text-decoration: line-through;
  opacity: 0.6; }

.todo-list-box__delete-icon {
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }

.todo-list-box:hover .todo-list-box__delete-icon {
  opacity: 1; }

[data-theme="dark"] .todo-list-box__text-checked {
  opacity: 0.7; }

[data-theme="dark"] .todo-list-box__delete-icon > path {
  fill: #d2d3db; }

.todo-action-box > .todo-box__left {
  padding: 2.7rem 2rem; }

.todo-action-box > .todo-box__middle--center {
  justify-content: center; }

.todo-action-box__uncompleted, .todo-action-box__clear {
  font-size: 1.4rem;
  color: #484b6a;
  transition: color 0.2s ease-out; }

.todo-action-box__clear:hover {
  color: rgba(72, 75, 106, 0.7); }

.todo-action-box__state {
  color: #484b6a;
  transition: color 0.2s ease-out;
  font-weight: 700;
  font-size: 1.6rem; }
  .todo-action-box__state:not(:last-of-type) {
    margin-right: 3.6rem; }
  .todo-action-box__state:hover {
    color: rgba(72, 75, 106, 0.7); }

.todo-action-box__state--active {
  color: #3a7bfd !important; }
  .todo-action-box__state--active:hover {
    color: #3a7bfd !important; }

@media screen and (max-width: 400px) {
  .todo-action-box__state:not(:last-of-type) {
    margin-right: 1.6rem; } }

@media screen and (max-width: 366px) {
  .todo-action-box {
    flex-wrap: wrap; }
    .todo-action-box > .todo-box__middle {
      order: -1;
      width: 100%;
      padding: 3rem 2rem; }
    .todo-action-box__state:not(:last-of-type) {
      margin-right: 3.6rem; } }

[data-theme="dark"] .todo-action-box__uncompleted, [data-theme="dark"] .todo-action-box__clear {
  color: #d2d3db; }

[data-theme="dark"] .todo-action-box__clear:hover {
  color: rgba(210, 211, 219, 0.7); }

[data-theme="dark"] .todo-action-box__state {
  color: #777a92;
  transition: color 0.2s ease-out;
  font-weight: 700;
  font-size: 1.6rem; }
  [data-theme="dark"] .todo-action-box__state:not(:last-of-type) {
    margin-right: 3.6rem; }
  [data-theme="dark"] .todo-action-box__state:hover {
    color: rgba(255, 255, 255, 0.9); }

.todo-box-wrapper {
  height: auto !important;
  background: #fafafa;
  color: #424242; }
  .todo-box-wrapper--rounded-all {
    border-radius: 6px; }
  .todo-box-wrapper--rounded-top {
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #e4e5f1; }
  .todo-box-wrapper--rounded-bottom {
    border-radius: 0px 0px 6px 6px; }

[data-theme="dark"] .todo-box-wrapper {
  background: #25273c;
  color: #d2d3db; }
  [data-theme="dark"] .todo-box-wrapper--rounded-top {
    border-color: #4d5066; }

.todo {
  padding-bottom: 6rem; }
  .todo__header {
    height: 310px;
    background-repeat: no-repeat;
    background-image: url("../images/bg-desktop-light.jpg");
    background-size: cover;
    background-position: center center; }
  .todo__info {
    height: auto !important;
    padding-top: 9.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .todo__info-heading {
    color: #fafafa;
    font-weight: 700;
    letter-spacing: 10px; }
  .todo__info-icon--light {
    display: none; }
  .todo__main {
    margin-top: -50px;
    border-radius: 6px;
    background: white;
    box-shadow: rgba(215, 215, 219, 0.604) 1px 8px 10px 0px, rgba(215, 215, 219, 0.604) 2px 5px 7px 0px, rgba(215, 215, 219, 0.604) 1px 7px 4px 0px; }
  .todo__footer {
    margin-top: 8rem; }
  .todo__footer-text {
    text-align: center;
    color: rgba(147, 147, 165, 0.8); }
  .todo__empty-box {
    min-height: 140px;
    border-bottom: 1px solid #e4e5f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .todo__empty-text {
    color: #484b6a; }

[data-theme="dark"] .todo__header {
  background-image: url("../images/bg-desktop-dark.jpg"); }

[data-theme="dark"] .todo__main {
  background: #25273c;
  box-shadow: #161722 1px 8px 10px 0px; }

[data-theme="dark"] .todo__info-icon--light {
  display: block; }

[data-theme="dark"] .todo__info-icon--dark {
  display: none; }

[data-theme="dark"] .todo__empty-box {
  border-color: #4d5066; }

[data-theme="dark"] .todo__footer-text, [data-theme="dark"] .todo__empty-text {
  text-align: center;
  color: #d2d3db; }
